In [1]:
your_list=['joker','love',3000]

In [2]:
len(your_list)

3

In [3]:
your_list[0:1]

['joker']

In [4]:
another_list=[1,2,3,4]

In [11]:
third_list=another_list + your_list

In [12]:
print(third_list)

[1, 2, 3, 4, 'joker', 'love', 3000]

In [13]:
third_list

[1, 2, 3, 4, 'joker', 'love', 3000]

In [14]:
third_list[4].upper()

'JOKER'

In [15]:
third_list.append('iron man',42)

TypeError: append() takes exactly one argument (2 given)

In [16]:
third_list.append('iron man')

In [17]:
third_list

[1, 2, 3, 4, 'joker', 'love', 3000, 'iron man']

In [18]:
third_list.append()

TypeError: append() takes exactly one argument (0 given)

In [19]:
third_list.pop()

'iron man'

In [20]:
third_list.pop(2)

3

In [21]:
third_list

[1, 2, 4, 'joker', 'love', 3000]

In [22]:
third_list.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [23]:
num_list=[3,5,2,7,6,3]

In [24]:
alp_list=['d','g','e','s','g','u','n','k','l']

In [25]:
print(num_list.sort())
print(alp_list.sort())

None
None

In [26]:
num_list
alp_list

['d', 'e', 'g', 'g', 'k', 'l', 'n', 's', 'u']

In [27]:
num_list

[2, 3, 3, 5, 6, 7]

In [30]:
num_list.reverse()

In [31]:
num_list

[7, 6, 5, 3, 3, 2]